version: '3.8'
services:
  backend:
    image: node:24-alpine
    working_dir: /app
    volumes:
      - ./backend:/app
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=development
      - MONGO_URI=mongodb://mongodb:27017/taskapp
      - JWT_SECRET=your_jwt_secret_key_here
    depends_on:
      - mongodb
    command: sh -c "npm install && npm start"

  mongodb:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data:
